@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}
:root {
  --white: #ebe8e1;
  --blue: #283470;
  --black: #28292b;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--white);
  height: 100vh;
  min-height: 100vh;
  padding: 0.75rem;
}
.container {
  max-width: 500px;
  width: 500px;
  margin-top: 120px;
}
@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    margin-top: 200px;
  }
}
.modal {
  position: fixed;
  z-index: 100;
  max-width: 500px;
  background: #ffffff;
  padding: 0.75rem 1.125rem;
  border-radius: 0.75rem;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.18);
  transition: 0.3s transform ease;
  transform: translateY(-800px);
}
.modal.active {
  transform: translateY(0);
}
.modal .close {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: .3s scale linear;
}
.modal .close:hover {
  transform: scale(1.1);
}
.disclaimer {
  display: block;
  background: #e78c17a6;
  color: #ffffff;
}
.modal h3 {
  margin-top: 10px;
}
.modal p {
  font-weight: 500;
}
.options {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.15);
  background: var(--black);
  padding: 0.75rem 0.25rem;
  text-align: center;
  color: var(--white);
}
select {
  width: 100%;
  height: 2.5rem;
}
.calendar {
  width: 100%;
  min-height: 520px;
  max-width: 520px;
  border-radius: 0.75rem;
  box-shadow: -10px 15px 34px rgba(0, 0, 0, 0.18);
  margin-top: 0.75rem;
}
.calendar .head {
  display: flex;
  padding: 0.75rem 1rem;
  background: var(--black);
  justify-content: space-between;
  align-items: center;
}
.head .uil {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.head .uil,
.calendar .center span {
  color: var(--white);
}
#days-name div {
  color: var(--blue);
}
.calendar .center span {
  display: block;
  text-align: center;
  font-weight: 500;
}
.calendar #month {
  font-weight: 300;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.days .day {
  padding: 1.25rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
.days .today {
  color: var(--white);
  position: relative;
  z-index: 2;
}
.days .today::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #98fb98;
  z-index: -1;
  text-align: center;
}
.days .today.diurnal::after {
  background: #ffecb3;
}
.days .today.nocturnal::after {
  background: #b0c4de;
}
.days .today.resting::after {
  background: #98fb98;
}
.days .today.diurnal,
.today.nocturnal,
.today.resting {
  font-weight: 500;
  color: var(--black);
}
.previous {
  color: rgba(0, 0, 0, 1.178);
}

.diurnal {
  background-color: #ffd700; /* Color principal para los días diurnos */
  border-color: #ffecb3; /* Color complementario para los días diurnos */
}

.nocturnal {
  background-color: #1e90ff; /* Color principal para los días nocturnos */
  border-color: #b0c4de; /* Color complementario para los días nocturnos */
}

.resting {
  background-color: #32cd32; /* Color principal para los días de descanso */
  border-color: #98fb98; /* Color complementario para los días de descanso */
}

footer {
  text-align: center;
}
.options label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}
footer,
footer a {
  color: #5b5252;
}
footer nav {
  margin-top: 1.25rem;
}
footer nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

footer .cta__link > a {
  color: var(--blue);
}
