@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}
:root{
  --white: #EBE8E1;
  --blue: #283470;
  --black: #28292B;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--white);
  min-height: 100vh;
  padding: .75rem;
}
a, ul, li {
  text-decoration: none;
  list-style: none;
}
.options {
  width: 100%;
  border-radius: .5rem;
  box-shadow: -2px 3px 5px rgba(0,0,0,.75);
  background: var(--black);
  padding: .75rem .25rem;
  text-align: center;
  color: var(--white);
}
select {
  width: 100%;
  height: 2.5rem;
}
.calendar{
  width: 100%;
  min-height: 520px;
  max-width: 520px;
  border-radius: .75rem;
  box-shadow: -10px 15px 34px rgba(0,0,0,.18);
}
.calendar .head{
  display: flex;
  padding: .75rem 1rem;
  background: var(--black);
  justify-content: space-between;
  align-items: center;
}
.head .uil {
  font-size: 24px;
  cursor: pointer;
  transition: .3s all ease;
}
.head .uil,
.calendar .center span{
   color: var(--white)
}
#days-name div{
  color: var(--blue);
}
.calendar .center span{
  display: block;
  text-align: center;
  font-weight: 500;
}
.calendar #month{
  font-weight: 300;
}
.days{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.days .day{
  padding: 1.25rem .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFF;
}
.days .today{
  color: var(--white);
  position: relative;
  z-index: 2;
}
.days .today::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #98FB98;
  z-index: -1;
  text-align: center;
}
.days .today.diurnal::after{
  background: #FFECB3;
}
.days .today.nocturnal::after{
  background: #B0C4DE;
}
.days .today.resting::after{
  background: #98FB98;
}
.days .today.diurnal,
.today.nocturnal,
.today.resting{
  font-weight: 500;
  color: var(--black);
}
.previous{
  color: rgba(0,0,0,1.178);
}

.diurnal {
  background-color: #FFD700; /* Color principal para los días diurnos */
  border-color: #FFECB3; /* Color complementario para los días diurnos */
}

.nocturnal {
  background-color: #1E90FF; /* Color principal para los días nocturnos */
  border-color: #B0C4DE; /* Color complementario para los días nocturnos */
}

.resting {
  background-color: #32CD32; /* Color principal para los días de descanso */
  border-color: #98FB98; /* Color complementario para los días de descanso */
}

footer {
  text-align: center;
}
.options label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}
footer a {
  color: #5b5252
}